{% extends './basic.html' %}
{% load static %}
{% block title %}| Change password {% endblock %}
{% block head %}



{% endblock %}
{% block style %}

<style>

.hide{
	display: none;
	}
#change{
margin-top: 8px;
    color: red;
}


</style>


{% endblock %}

{% block body %}

<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-parallax page-title-dark page-title-center" style="background-image: url({% static 'demos/store/images/men/page-title.jpg' %}); background-size: cover; padding: 170px 0 100px;" data-bottom-top="background-position: 50% 200px;" data-top-bottom="background-position: 50% -200px;">

			<div class="container clearfix">
				<h1>Profile</h1>

				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'profile' %}">profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Change password</li>
				</ol>
			</div>

		</section><!-- #page-title end -->


		<!-- Content
		============================================= -->
		<section id="content" style=" background-color: #c7c7c7;" >
			<div class="content-wrap">
				<div class="container clearfix mt-6">

					<div class="row clearfix">

						<div class="col-md-9">

							<div class="content-wrap bg-light">
								<div class="container">


									<div class="row justify-content-center">

										<div class="col-lg-10 col-md-10">
											<div class="card shadow-sm">


												<div class="card-body p-5">

									<h4 class="ls4 center">Change Password</h4>

									<div class="divider divider-sm divider-center text-dark"><i class="icon-user-lock"></i></div>


										<form class="mb-0" action="{% url 'Change_password' %}" method="post" onsubmit="return validate()">
                                            {% csrf_token %}
											<div class="row">

												<div class="col-12">
													<div class="row">
														<div class="col-md-12 bottommargin-sm">
															<label for="old_pass">Current Password<small class="text-danger">*</small></label>
															<input type="password" id="old_pass" name="cur_pass" class="form-control" required placeholder="Enter Current Password" />
														</div>

													</div>
												</div>
												<div class="col-12">
													<div class="row">
														<div class="col-md-12 bottommargin-sm">
															<label for="pass1">New Password<small class="text-danger">*</small></label>
															<input type="password" id="pass1" name="pass1" class="form-control" required placeholder="Enter New Password" />
														</div>

													</div>
												</div>
												<div class="col-12">
													<div class="row">
														<div class="col-md-12 bottommargin-sm">
															<label for="pass2">Confirm Password<small class="text-danger">*</small></label>
															<input type="password" id="pass2" name="pass2" class="form-control" required placeholder="Confirm New Password" />
														</div>
													</div>

												</div>

												<div class="col-12">
													<button type="submit" class="btn btn-secondary  btn-lg">Change Password</button>
												</div>

											</div>

										</form>

									<a href="#myModal1" data-lightbox="inline" class="template-wedding-success-modal d-none"></a>
									<div class="modal1 mfp-hide" id="myModal1">
										<div class="block mx-auto" style="background-color: #FFF; max-width: 600px;">
											<div class="clearfix" style="padding: 50px;">
												<i class="icon-smile1 color display-4 mb-2"></i>
												<h3 class="mb-3">Thank You.</h3>
												<h5 class="lead font-weight-semibold ls1 text-uppercase my-4">Your RSVP has been Confirmed.</h5>
												<p class="font-weight-normal mb-0">Thank you very much for attending our Wedding. If you need any other information from me then Please let me contact to <a href="mailto:no.reply@semicolonweb.com"><u>no.reply@semicolonweb.com</u></a></p>
											</div>
										</div>
									</div>
								</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="w-100 line d-block d-md-none"></div>

						<div class="col-md-3">

							<div class="list-group">
								<a href="{% url 'profile' %}" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Profile</div><i class="icon-user"></i></a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Servers</div><i class="icon-laptop2"></i></a>
								<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Messages</div><i class="icon-envelope2"></i></a>
								<a href="{% url 'addresses' %}" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Billing</div><i class="icon-credit-cards"></i></a>
								<a href="{% url 'Change_password' %}" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Settings</div><i class="icon-cog"></i></a>
								<a href="{% url 'logout' %}" class="list-group-item list-group-item-action d-flex justify-content-between"><div>Logout</div><i class="icon-line2-logout"></i></a>
							</div>


						</div>

					</div>

				</div>
			</div>
		</section><!-- #content end -->

{% endblock %}

{% block js %}

<script>
    function validate(){
        let oldpass = $('#old_pass').val()
        let pass1 = $('#pass1').val()
        let pass2 = $('#pass2').val()

        if(pass1 != pass2){
            alert("New password and Confirm password do not match")
            return false;
        }else if (oldpass === pass1){
            alert("Current Password and New Password not be the same.")
            return false;
        }else{
        return true;
        }

    }


</script>
<script>
    $(document).ready(function(){
	  $("#pass2").keyup(function(){
			let pass1 = $('#pass1').val()
			let pass2 = $('#pass2').val()
			console.log(pass1)
			console.log(pass2)
			if(pass1 === pass2){
				$("#pass1").css("border-color", "green");
				$("#pass2").css("border-color", "green");
			}else{
				$("#pass1").css("border-color", "red");
				$("#pass2").css("border-color", "red");
			}
		});
		$("#pass1").keyup(function(){
        let pass1 = $('#pass1').val()
        let pass2 = $('#pass2').val()
        console.log(pass1)
        console.log(pass2)
        if(pass1 === pass2){
            $("#pass1").css("border-color", "green");
            $("#pass2").css("border-color", "green");
        }else{
            $("#pass1").css("border-color", "red");
            $("#pass2").css("border-color", "red");
        }
    });
  });



</script>



{% endblock %}
