{% extends './basic.html' %}
{% load static %}
{% block title %}| Login {% endblock %}
{% block head %}
	<!-- Forum Demo Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'demos/forum/forum.css' %}" type="text/css" /> <!-- Forum Custom Css -->


{% endblock %}
{% block style %} {% endblock %}

{% block body %}

    <!-- Content
	============================================= -->
    <section id="content">
			<div class="content-wrap py-0">

				<div class="section m-0 py-6">
					<div class="curve-bg"></div>
					<div class="container d-flex justify-content-center align-items-center">

						<div class="cs-signin-form">
							<div class="cs-signin-form-inner">
								<div class="text-center">
									<h3 class="h1 font-weight-bolder mb-3">Sign In</h3>
									<p class="text-smaller text-muted mb-4" style="line-height: 1.5;">Welcome Back</p>
								</div>
								<div class="d-flex justify-content-center mb-2">
									<a href="#" class="social-icon si-small si-colored si-facebook" title="Facebook">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>

									<a href="#" class="social-icon si-small si-colored si-google" title="google">
										<i class="icon-google"></i>
										<i class="icon-google"></i>
									</a>

								</div>

								<div class="clear"></div>

								<div class="divider divider-center my-2"><span>OR</span></div>

								<form id="login-form" name="login-form" class="mb-0 row" action="{% url 'login' %}" method="post">{% csrf_token %}

									<div class="col-12 form-group">
										<label class="nott ls0 font-weight-normal mb-1" for="login-form-username">Email:</label>
										<input type="email" id="login-form-username" name="email" class="form-control font-weight-semibold" placeholder="Email">
									</div>
									<div class="clear"></div>
									<div class="col-12 form-group">
										<label class="nott ls0 font-weight-normal mb-1" for="login-form-password">Password:</label>
										<div class="input-group">
											<input id="login-form-password" type="password" name="password" class="form-control font-weight-semibold border-right-0" placeholder="Password" required>
											<input type="hidden" name="next" value="{{next}}">
											<div class="input-group-append">
												<button class="btn" onclick="myFunction()" type="button"><i class="icon-line-eye text-smaller"></i></button>
											</div>
										</div>
									</div>

									<div class="col-12 d-flex justify-content-between">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
											<label class="form-check-label nott ls0 mb-0 font-weight-semibold" for="inlineCheckbox2">Remember me</label>
										</div>
										<a href="#" class="text-smaller font-weight-medium"><u>Forgot Password?</u></a>
									</div>

									<div class="col-12 mt-4">
										<button class="button button-large btn-block bg-alt py-2 rounded-sm font-weight-medium nott ls0 m-0" type="submit">Login</button>
									</div>
								</form>
								<p class="mb-0 mt-4 text-center font-weight-semibold">Don't have an account? <a href="{% url 'register_user' %}"><u>Sign up</u></a></p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</section><!-- #content end -->

{% endblock %}

{% block js %}

	<script>
		function myFunction() {
		  var x = document.getElementById("login-form-password");
		  if (x.type === "password") {
		    x.type = "text";
		    $("#login-form-password + .input-group-append").addClass('passowd-shown');
		  } else {
		    x.type = "password";
		    $("#login-form-password + .input-group-append").removeClass('passowd-shown');
		  }
		}
	</script>

{% endblock %}